
<EditForm Model="FileItem">
    <div class="d-flex justify-content-center">
        <div class="card" style="width:800px;">
            <div class="card-header">

                <InputFile OnChange="@LoadFile">Upload file:</InputFile>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <label>Top Count:</label>
                        <InputNumber @bind-Value="FileItem.TopRows" style="width:50px" />
                    </div>
                    <div class="col-auto">
                        <label>min word length:</label>
                        <InputNumber @bind-Value="FileItem.MinWordLength" style="width:50px" />
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end mb-2">
                            <button type="button" class="btn-primary" @onclick="(()=>OnProcessBook())">Process</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive" style="max-height:460px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Rank #</th>
                                        <th>Word</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int rank = 1;}
                                    @foreach (var item in WordCountResults)
                                    {
                                        <tr>
                                            <td>@rank</td>
                                            <td>@item.Word</td>
                                            <td>@item.Count</td>
                                        </tr>

                                        rank++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-sm-between">
                    <div>  Execution time :</div>
                    <div>@ExecutionTime </div>
                </div>

            </div>
        </div>
    </div>
</EditForm>

@if (ShowToast)
{
    if (HasError)
    {
        <Toast Title="Error" ToastMessage="@ToastMessage" IsError="true" />
    }
    else
    {
        <Toast Title="Success" ToastMessage="@ToastMessage" IsError="false" />
    }

}